body{
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: rgb(43, 63, 109);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-size: cover;

}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}